In [1]:
#type conversion

a='4'
b=ord(a)
print("After converting character into integer: ",end="")
print(b)
b=hex(56)
print("After converting 56 to hexadecimal string: ",end="")
print(b)
print("After converting 56 to octal string: ",end="")
print(b)


x='javaTpoint'
y=tuple(x)
print("After converting string to tuple:",end="")
print(y)

y=set(x)
print("After converting string to set:",end="")
print(y)
y=list(x)
print("After converting string to list:",end="")
print(y)

After converting character into integer: 52
After converting 56 to hexadecimal string: 0x38
After converting 56 to octal string: 0x38
After converting string to tuple:('j', 'a', 'v', 'a', 'T', 'p', 'o', 'i', 'n', 't')
After converting string to set:{'v', 'j', 'i', 'o', 't', 'p', 'n', 'a', 'T'}
After converting string to list:['j', 'a', 'v', 'a', 'T', 'p', 'o', 'i', 'n', 't']

In [3]:
a=2
b=3
print("add:",a+b) #addition
print("diff:",a-b) 
print("mul:",a*b)
print("div:",a/b)
print("pow:",a^b)

add: 5
diff: -1
mul: 6
div: 0.6666666666666666
pow: 1

In [4]:
print("floor division:",a//b)

floor division: 0

In [5]:
print("modulo:",a%b)

modulo: 2

In [6]:
a=10
b=5
a+=b #addition
print(a)

15

In [7]:
a-=b #subtraction
print(a)

10

In [8]:
a*=b #multiplication
print(a)

50

In [9]:
a/=b  #division
print(a)

10.0

In [10]:
a%=b  #remainder
print(a)

0.0

In [12]:
a**=b  #exponential
print(a)

0.0

In [23]:
# comparison operators

print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

False
True
True
False
True
False

In [27]:
# logical operators

a=5
b=10
print((a>2) and (b<6))
print((a>2) or (b<6))

False
True

In [30]:
#identity operators in python

x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)  #results false bcs the list refers to different objects in memory

False
True
False

In [32]:
x4=6
y4="bye"
print(id(x4))
print(id(y4))
print(x4 is not y4)

140721285298776
2400108246576
True

In [35]:
#membership operators

message='Hello world'
dict1 = {1:'a' , 2:'b'}
print('H' in message)
print('hello' not in message)
print(1 in dict1)
print('a' in dict1)

True
True
True
False

In [41]:
meal="fruit"
money=0
if meal=="fruit" or meal=="sandwich" and money>=2:    #and has more priority than or
    print("lunch being delivered")
else:
    print("cant deliver lunch")

lunch being delivered

In [43]:
meal="fruit"
money=0
if (meal=="fruit" or meal=="sandwich") and money>=2:   #bcz of paranthesis or operator is functioned easlier than and
    print("lunch being delivered")
else:
    print("cant deliver lunch")

cant deliver lunch

In [49]:
print(5*2//3)  #left -right associativity
print(5*(2//3))

3
0

In [48]:
#exponent operator has right to left associativity in python

print(2**3**2)
print((2**3)**2)

512
64

In [52]:
#non associative operators
# x<y<z is equivalent to x<y and y<z

#initialize x,y,z
x=y=z=1

In [53]:
x=y=z+=2

SyntaxError: invalid syntax (1438927886.py, line 1)

In [8]:
#bitwise operators

a=12
print(a>>2)
print(a<<1)

3
24

In [7]:
#combinational
a=16
b=12
c=a+(b>>1)
print(c)

22

In [1]:
#wap to calc area of circle
#wap to print digit at one's place of a number
#wap to cal avg of 2 numbers nd print their deviation
#wap to convert floating point number into corresponding integer
#wap to convert int to corr floating point number
#wap to convert degree fahrenheit to degree celsius

In [12]:
#question 1
r = int(input("Enter radius:"))
a = float(3.14*(r**2))
print("The area of circle with radius =",r,"is",a)

Enter radius: 2

The area of circle with radius = 2 is 12.56

In [14]:
#ques 2
n = int(input("Enter any number:"))
d=n%10
print("The digit at one's place of",n,"is",d)

Enter any number: 265

The digit at one's place of 265 is 5

In [16]:
#ques 3
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
avg = (num1+num2)/2
print("Average =",avg)
dev1 = avg - num1
dev2 = avg - num2
print("The deviation of first number =",dev1)
print("The deviation of second number =",dev2)

Enter the first number: 5
Enter the second number: 6

Average = 5.5
The deviation of first number = 0.5
The deviation of second number = -0.5

In [23]:
#ques 4
n = 3.56
print("The type before conversion is :",type(n))
print("The value before conversion is :",n)
n = int(n)
print("The type after conversion is :",type(n))
print("The value after conversion is :",n)

The type before conversion is : <class 'float'>
The value before conversion is : 3.56
The type after conversion is : <class 'int'>
The value after conversion is : 3

In [2]:
#ques 5
n = int(input("Enter a number:"))
print("The type before conversion is:",type(n))
print("The value before conversion is:",n)
n = float(n)
print("The type after conversion is:",type(n))
print("The value after conversion is:",n)

Enter a number: 4

The type before conversion is: <class 'int'>
The value before conversion is: 4
The type after conversion is: <class 'float'>
The value after conversion is: 4.0

In [1]:
#ques 6
fahrenheit = float(input("Enter temperature in Fahrenheit:"))
Celsius =(fahrenheit - 32) * 5 / 9
print("Temperature in celsius = " , Celsius)

Enter temperature in Fahrenheit: 54

Temperature in celsius =  12.222222222222221