In [1]:
for i  in range(2,4):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [4]:
# nested loop to print pattern
rows=5
for i in range (1, rows+1):
    for j in range(1, i+1):
        print("*",end="")
    print('')

*
**
***
****
*****

In [6]:
names=['kelly','jessa','emma']
for name in names:
    count = 0
    while count<5:
        print(name,end='')
        count+=1
    print()

kellykellykellykellykelly
jessajessajessajessajessa
emmaemmaemmaemmaemma

In [15]:
n=5
for i in range(1,n+1):
    for k in range(n,i,-1):
        print(" ",end='')
    for j in range(1,i+1):
        print(i,"",end='')
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [1]:
#print rectangle pattern with 5 rows and 3 columns

n=5
for i in range(1,6):
    for j in range(1,4):
        print("*",end='')
    print('')

***
***
***
***
***

In [6]:
#WAP to ClASSIFY A GIVEN NUMBER AS PRIME OR NON PRIME
#WAP using for loop to calc factorial of a number



n=int(input("Enter a number:"))
flag = 0
if n==0 or n==1:
    print("Non prime number")
elif n>1:
    for i in range(2,n):
        if(num%i)==0:
            flag=1
            
    if (flag==1):
        print("non prime")
    else:
        print("prime")

Enter a number: 2

prime

In [9]:
n=int(input("Enter a number:"))
fact=1
if n<0:
    print("factorial doesnot exist")
elif n==0:
    print("fact is 1")
else:
    for i in range(1,n+1):
        fact=fact*i
print("The factorial of the number is:",fact)

Enter a number: 3

The factorial of the number is: 6

In [ ]:
#wap that displays all leap years from 1900 to 2101

In [31]:
year =int(input("Enter a year:"))

if year%100==0:
    if year%400==0:
        print("Leap year")
    else:
        print("Non leap year")
else:
    if year%4==0:
        print("leap year")
    else:
        print("Non leap")

Enter a year: 2100

Non leap year

In [23]:
#wap to print the series 1+1/2 +....1/n

n=int(input("Enter a number:"))
sum=0
for i in range(1,n+1):
     sum+=1/i
print("series", sum)

Enter a number: 3

series 1.8333333333333333

In [25]:
for i in range(4):
    for j in range(4):
        if j==i:
            break
        print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2

In [29]:
first=[2,4,6]
second=[2,4,6]
for i in first:
    for j in second:
        if i==j:
            continue
        print(i,'*',j,"=",i*j)

2 * 4 = 8
2 * 6 = 12
4 * 2 = 8
4 * 6 = 24
6 * 2 = 12
6 * 4 = 24

In [32]:
list1=['a','b','char','199'];
list2=[1,2,3,4,5,6,7];
print("list1[0]:",list1[0])
print("list2[1:5]:",list2[1:5])

list1[0]: a
list2[1:5]: [2, 3, 4, 5]

In [35]:
list=[['marry','john'],['harry']]
print("Accessing a element from multi dimensional list")
print(list[0][1])
print(list[1][0])

Accessing a element from multi dimensional list
john
harry

In [37]:
#negative indexing
list=[1,2,3,4,5,6,7];
print(list[-1])
print(list[-3])

7
5

In [1]:
#slicing opeartions
List=['G','E','E','K','S','F','O','R','G','E','E','K','S']
print("Initial list:",List)
sliced_list = List[:-6]
print(sliced_list)
sliced_list = List[-6:-1]
print(sliced_list)

Initial list: ['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']
['G', 'E', 'E', 'K', 'S', 'F', 'O']
['R', 'G', 'E', 'E', 'K']