In [4]:
import array as arr
l=[1,2,3,4,5,6,7,8,9,10]
a=arr.array('i',l)
print("initial array:")
for i in (a):
    print(i,end=" ")
sliced_array=a[3:8]
print("sliicif elelments in range[3:8] :")
print(sliced_array)
sliced_array=a[5:]
print("\nelements sliced from 5th element till the end")
print(sliced_array)
sliced_array=a[:]
print("printing all elements using slice operation:")
print(sliced_array)

initial array:
1 2 3 4 5 6 7 8 9 10 sliicif elelments in range[3:8] :
array('i', [4, 5, 6, 7, 8])

elements sliced from 5th element till the end
array('i', [6, 7, 8, 9, 10])
printing all elements using slice operation:
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [5]:
import array
arr=array.array('i',[1,2,3,1,2,5])
print("the new created array is:",end=" ")
for i in range(0,6):
    print(arr[i],end=" ")
print("\r")
print("The index of 1st occurrence of 2 is:",end=" ")
print(arr.index(2))

the new created array is: 1 2 3 1 2 5
The index of 1st occurrence of 2 is: 1

In [6]:
import array
arr=array.array('i',[1,2,3,1,2,5])
print("array before updation:", end=" ")
for i in range(0,6):
    print(arr[i], end =" ")
print("\r")
arr[2]=6
print("array after updation:", end=" ")
for i in range(0,6):
    print(arr[i], end =" ")
print()
arr[4]=8
print("array after updation:", end=" ")
for i in range(0,6):
    print(arr[i], end =" ")

array before updation: 1 2 3 1 2 5
array after updation: 1 2 6 1 2 5
array after updation: 1 2 6 1 8 5

In [8]:
#COUNT

import array
my_array = array.array('i',[1,2,3,1,2,5])
count = my_array.count(2)
print("no. of occurrence of 2:", count)

no. of occurrence of 2: 2

In [10]:
#SORT A LIST ACC TO LENGTH

def Sorting(lst):
    lst2= sorted(lst,key=len)
    return lst2
lst=["rohan","amy","sap","nap"]
print(Sorting(lst))

['amy', 'sap', 'nap', 'rohan']

In [21]:
#BUBBLE SORT

def bubble_sort(arr):
    n =len(arr)
    for i in range(n):
        for j in range(0,n-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]
if __name__=="__main__":
    sample_list=[64,34,25,12,22,11,90]
    print("Original list",sample_list)
    bubble_sort(sample_list)
    print(sample_list)

Original list [64, 34, 25, 12, 22, 11, 90]
[11, 12, 22, 25, 34, 64, 90]

In [22]:
#Creating an empty tuple
Tuple1 =()
print("Initial empty tuple:")
print(Tuple1)

#creating a tuple
#with use of string
Tuple1=('Hello','Sam')
print("\nTuple with use of string:")
print(Tuple1)

#creating a tuple
#with use of list
list1=[1,2,3,4,5]
print("\nTuple with use of list:")
print(tuple(list1))

#creating a tuple
#with the use of built-in function
Tuple1=tuple('Sam')
print("\nTuple with use of built-in function:")
print(Tuple1)

Initial empty tuple:
()

Tuple with use of string:
('Hello', 'Sam')

Tuple with use of list:
(1, 2, 3, 4, 5)

Tuple with use of built-in function:
('S', 'a', 'm')

In [29]:
#Creating a tuple with mixed datatypes
Tuple1=(5,'wel',7,'plea')
print("\nTuple with mixed datatypes:")
print(Tuple1)

#Creating a tuple with nested tuples
Tuple1=(0,1,2,3)
Tuple2=('python', 'course')
Tuple3=(Tuple1,Tuple2)
print("\nTuple with nested tuples:")
print(Tuple3)

#Creating a tuple with repetition
Tuple1=('Sam',)*3
print("\nTuple with repetition:")
print(Tuple1)

#CREATING A TUPLE with the use of loop
Tuple1=('Sam')
n=5
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1=(Tuple1,)
    print(Tuple1)

Tuple with mixed datatypes:
(5, 'wel', 7, 'plea')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'course'))

Tuple with repetition:
('Sam', 'Sam', 'Sam')

Tuple with a loop
('Sam',)
(('Sam',),)
((('Sam',),),)
(((('Sam',),),),)
((((('Sam',),),),),)

In [31]:
#Assessing tuple with indexing
Tuple1=tuple("Sam")
print("\nFirst element of tuple:")
print(Tuple1[0])

#Tuple unpacking
Tuple1=("Sam","is","dancing")
a,b,c=Tuple1
print("\nValues after unpacking:")
print(a)
print(b)
print(c)

First element of tuple:
S

Values after unpacking:
Sam
is
dancing

In [32]:
#concatenation of tuples
Tuple1=(0,1,2,3)
Tuple2=('Sam','is','Studying')
Tuple3=Tuple1+Tuple2
print("Tuple1:")
print(Tuple1)
print("\nTuple2:")
print(Tuple2)
print("\nTuples after concatenation:")
print(Tuple3)

Tuple1:
(0, 1, 2, 3)

Tuple2:
('Sam', 'is', 'Studying')

Tuples after concatenation:
(0, 1, 2, 3, 'Sam', 'is', 'Studying')

In [35]:
#slicing of tuple
#slicing of tuple with numbers
Tuple1=tuple('TRANSFORMERS')
#removing first element
print("Removal of first element:")
print(Tuple1[1:])
#reversing the tuple
print("\nTuple after sequence of element in reverse:")
print(Tuple1[::-1])
#printing tuples of a range
print("\nPrinting elements between range2-5:")
print(Tuple1[2:5])

Removal of first element:
('R', 'A', 'N', 'S', 'F', 'O', 'R', 'M', 'E', 'R', 'S')

Tuple after sequence of element in reverse:
('S', 'R', 'E', 'M', 'R', 'O', 'F', 'S', 'N', 'A', 'R', 'T')

Printing elements between range2-5:
('A', 'N', 'S')

In [38]:
#tuples are immutable and hence donot allow deletion of a part of it.
#deleting a tuple
Tuple1=(0,1,2,3,4)
del Tuple1
print(Tuple1)

NameError: name 'Tuple1' is not defined

In [42]:
#HOW MANY WAYS ARE THERE TO ASSIGN A TUPLE
#Program to return the highest and lowest values in the list
def max_min(vals):
    x=max(vals)
    y=min(vals)
    return(x,y)
vals=(99,98.90,97,89,86,93,82)
(max_marks,min_marks)=max_min(vals)
print("Highest marks=",max_marks)
print("lowest marks=",min_marks)

Highest marks= 99
lowest marks= 82

In [48]:
#nested tuples
Toppers=(("Arnav","BSC",92.6),("CHAI","BCA",65))
for i in Toppers:
    print(i)

('Arnav', 'BSC', 92.6)
('CHAI', 'BCA', 65)

In [49]:
#WAP to print name of topper and her marks in 4 subjects wherein the marks are specified in a list
Topper=("janvi",[94,95,96,97])
print("Class Topper:",Topper[0])
print("Highest scores in 4 subjects:",Topper[1:])

Class Topper: janvi
Highest scores in 4 subjects: ([94, 95, 96, 97],)

In [1]:
thistuple=("apple",",mango","cheery")
for in in range(len(thistuple)):
print(thistuple[i])

SyntaxError: invalid syntax (3280188006.py, line 2)

In [ ]:
# Initial nested list with toppers' details
toppers = [
    ["Alice", 95, "Math"],
    ["Bob", 90, "Science"],
    ["Charlie", 92, "English"]
]

# Function to print the details
def print_details(toppers):
    print("Toppers' Details:")
    for topper in toppers:
        print(f"Name: {topper[0]}, Score: {topper[1]}, Subject: {topper[2]}")

# Function to edit the details
def edit_details(toppers, name, new_score, new_subject):
    for topper in toppers:
        if topper[0] == name:
            topper[1] = new_score
            topper[2] = new_subject
            break

# Print initial details
print_details(toppers)

# Edit details of a topper
edit_details(toppers, "Bob", 93, "Physics")

# Print updated details
print("\nUpdated Details:")
print_details(toppers)