In [4]:
thisset = {"apple","banana","cherry"}
print("banana" in thisset)

True

In [3]:
thisset = {"apple","banana","cherry"}
print("banana" not in thisset)

False

In [19]:
thisset = {"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [8]:
thisset = {"apple","banana","cherry"}
tropical ={"pine","mangp","papaya"}
thisset.update(tropical)
print(thisset)

{'apple', 'mangp', 'banana', 'papaya', 'pine', 'cherry'}

In [17]:
#ADD ANY ITERABLE
thisset = {"apple","banana","cherry"}
mylist = ["KIWIW","Papaya"]
thisset.update(mylist)
print(thisset)

{'cherry', 'apple', 'KIWIW', 'banana', 'Papaya'}

In [21]:
thisset = {"apple","banana","cherry"}
#thisset.remove("apple")      #if an item doesnot exist remove will raise an error but discard would not.
thisset.discard("apple")
print(thisset)

{'banana', 'cherry'}

In [22]:
thisset = {"apple","banana","cherry"}
x=thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [23]:
thisset = {"apple","banana","cherry"}
thisset.clear()
print(thisset)

set()

In [33]:
this_set = {"apple","bana","cherry"}
del this_set
print(this_set)

NameError: name 'this_set' is not defined

In [30]:
#JOIN SETS
#UNION
set1 = {"a","b","c"}
set2 = {1,2,3}
set3=set1.union(set2)   
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [32]:
#DIRECTLY USE | FOR UNION OF SETS

set1 = {"a","b","c"}
set2 = {1,2,3}
set3=set1|set2
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [34]:

set1 = {"a","b","c"}
set2 = {1,2,3}
set3 ={"John","emin"}
set4={"apple","vheery"}
myset =set1|set2|set3|set4
print(myset)

{'John', 1, 2, 3, 'vheery', 'emin', 'b', 'c', 'apple', 'a'}

In [40]:
#join set with a tuple

#| operator only allows you to join sets with sets, and not with other datatypes like you can do with union() method
x = {"a","b","c"}
y = {1,2,3}
z=x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

In [39]:
#both union and update will exclude duplicate items

set1 = {"a","b","c"}
set2 = {1,2,3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [41]:
#intersection() ---  will keep only duplicates

#set3=set1.intersection
#set3=set1 & set2
#set1.intersection.update(set2)    -----  change original set instead of returning new set

In [42]:
set1 ={"apple",1,"banana",0,"chereru"}
set2 = {False,"google",1,"apple",2,True}
set3=set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [44]:
#difference --- return a new set

set1 ={"apple","banana","cherry"}
set2 ={"google","apple","micro"}
set3=set1-set2
print(set3)

{'banana', 'cherry'}

In [21]:
set1 ={"apple","banana","cherry"}
set2 ={"google","apple","micro"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [49]:
#symmetric difference ---- keep the items that are not present in same sets
set1 ={"apple","banana","cherry"}
set2 ={"google","apple","micro"}
set3=set1.symmetric_difference(set2)       #you can use ^ operator instead of symmetric_difference() method
print(set3)

{'google', 'cherry', 'micro', 'banana'}

In [50]:
#set3=set1.symmetric_difference_update(set2)

In [4]:
#a.issuperset(c) ---   tests whether each element of c is in a  #   a>=b
#c.isssubset(a) --tests whether each element of c is in a     ## a<=b
#unique()
#{frozenset({1,2}),,frozenset({3,4})} ------ set of sets

In [5]:
#set operations using Methods and Builtins

In [6]:
# a.isdisjoint(b)

In [7]:
#Testing membership

#1 in a:

In [20]:
#WAP that creates two sets squares and cubes in range 1 to 10 .Demonstrate the use of update(), pop(),remove(), add() and clear() functions

squares = {x**2 for x in range(1, 11)}
cubes = {x**3 for x in range(1, 11)}
print("Initial sets:")
print("Squares:")
print("Cubes:")

squares.update(cubes)
print("\nAfter update() - squares updated with cubes:")
print("Squares:", squares)

popped_element = squares.pop()
print("\nAfter pop() - removed element:", popped_element)
print("Squares:", squares)

squares.remove(1)  
print("\nAfter remove(1):")
print("Squares:", squares)

squares.add(2)
print("\nAfter add(2):")
print("Squares:",squares)

squares.clear()
print("\nAfter clearing:")
print("Squares:",squares)

Initial sets:
Squares:
Cubes:

After update() - squares updated with cubes:
Squares: {64, 1, 512, 4, 8, 9, 16, 81, 343, 216, 25, 729, 27, 36, 100, 1000, 49, 125}

After pop() - removed element: 64
Squares: {1, 512, 4, 8, 9, 16, 81, 343, 216, 25, 729, 27, 36, 100, 1000, 49, 125}

After remove(1):
Squares: {512, 4, 8, 9, 16, 81, 343, 216, 25, 729, 27, 36, 100, 1000, 49, 125}

After add(2):
Squares: {512, 2, 4, 8, 9, 16, 81, 343, 216, 25, 729, 27, 36, 100, 1000, 49, 125}

After clearing:
Squares: set()

In [1]:
#WAP that creates two sets one of even numbers in the range 1 to 20 and the other has all composite numbers 1 to 20.
#Demonstrate the use of all(), issuperset(), len() and sum() on the sets

even_numbers = {x for x in range(1,21) if x%2==0}
composite_numbers = {x for x in range(1,21) if any (x%i==0 for i in range(2,x))}

print("Even numbers:", even_numbers)
print("Composite numbers:", composite_numbers)

print("All elements in even_numbers are even:", all(num % 2 == 0 for num in even_numbers))

print("even_numbers is a superset of composite_numbers:", even_numbers.issuperset(composite_numbers))

print("Number of elements in even_numbers:", len(even_numbers))
print("Number of elements in composite_numbers:", len(composite_numbers))

print("Sum of elements in even_numbers:", sum(even_numbers))
print("Sum of elements in composite_numbers:", sum(composite_numbers))

Even numbers: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
Composite numbers: {4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20}
All elements in even_numbers are even: True
even_numbers is a superset of composite_numbers: False
Number of elements in even_numbers: 10
Number of elements in composite_numbers: 11
Sum of elements in even_numbers: 110
Sum of elements in composite_numbers: 132

In [3]:
#NUMPY as np
#alias -- alternate names for referring to same thing

import numpy as np
arr = np.array([1,2,3,4,5])
print(arr)

##Checking numpy version --- print(np.__version__)
#ndarray --- n dimensional array
#import numpy as np
#arr = np,array([1,2,3,4,5])
#print(arr)
#print(type(arr))
#arr = np,array((1,2,3,4,5))

[1 2 3 4 5]

In [5]:
#Create 0-D array with value 42
a= np,array(42)
print(a)

NameError: name 'array' is not defined

#Create 1-D
#Create 2-D
#arr=np.array[[1,2,3],[4,5,6]]
arr=np.array([[1,2,3],[4,5,6]],